@use '../tools' as *;

.accordion-cell{
    padding: rem(30) rem(34);

    &:not(:last-child){
        border-bottom: 1px solid;
        border-image: linear-gradient(90deg, rgba(229, 0, 0, 0) 0%, rgba(229, 0, 0, 1) 17%, rgba(229, 0, 0, 0) 100%) 1;
    }

    @include mobile{
        padding-inline: 0;
    }

    &__inner{
        padding: rem(20);
    }

    &__details{
        &[open]{

            .accordion-cell{
                padding: rem(34);
            }

            .accordion-cell__title{
                &::before,
                &::after{
                    background-color: var(--red-color);
                }

                &::after{
                    rotate: 0deg;
                }
            }

            & + .accordion-cell__content{
                grid-template-rows: 1fr;
            }
        }
    }

    &__summary{
        &::-webkit-details-marker{
            display: none;
        }

        list-style-type: none;
        color: var(--light-color);
        position: relative;

        &::before{
            @include fluid-text(20, 16);

            @include abs-y;

            content: "0" counter(custom-counter);
            background-color: var(--dark-color-12);
            border: var(--border-thin);
            padding: fluid(20, 12);
            border-radius: rem(10);
            font-weight: 600;
            left: 0;

            @include laptop{
                margin-right: rem(16);
            }
        }

        @include hover{
            cursor: pointer;
        }
    }

    &__title{
        @include fluid-text(22, 20);

        font-weight: 500;
        transition-duration: var(--transition-duration);
        padding-left: rem(82);

        @include hover{
            color: var(--red-color);
        }

        @include mobile{
            padding-left: rem(58);
        }

        &::before,
        &::after{
            @include abs-y;

            content: '';
            right: 0;
            width: fluid(20, 15);
            height: fluid(2.5, 2);
            border-radius: rem(5);
            background-color: var(--light-color);
            transition-duration: var(--transition-duration);
        }

        &::after{
            rotate: 90deg;
        }
    }

    &__content{
        display: grid;
        grid-template-rows: 0fr;
        transition-duration: var(--transition-duration);
        
        @include mobile-above{
            padding-left: rem(82);
        }

        &-inner{
            overflow: hidden;
        }

        &-body{
            --offsetTop: #{fluid(20, 12)};

            padding-top: var(--offsetTop);

            @include mobile{
                --offsetTop: #{rem(24.5)};
            }
        }
    }
}