@use '../tools' as *;

.accordion{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    
    @include tablet-above{
        column-gap: rem(40);
    }

    @include tablet-s{
        grid-template-columns: 1fr;
    }
}