@use '../tools' as *;

.btn{
    display: flex;
    align-items: center;
    padding-block: rem(18);
    background-color: var(--red-color);
    max-height: rem(63);
    color: var(--light-color);
    border-radius: rem(8);
    white-space: nowrap;
    border: 2px solid transparent;
    font-weight: 600;

    @include hover{
        border-color: var(--red-color);
        background-color: var(--dark-color-12);
    }

    @include laptop{
        padding-block: rem(15.5);
    }

    @include mobile{
        max-height: rem(52);
        padding-block: rem(14);
    }

    &--dark{
        border: var(--border-thin);
        border-radius: rem(8);
        background-color: var(--dark-color);
    }
}