@use '../tools' as *;

.card-grid{
    --cols: 5;

    display: grid;
    grid-template-columns: repeat(var(--cols), 1fr);
    gap: rem(30);

    @include laptop{
        gap: rem(20);
    }

    &--8cols{
        --cols: 8;

        gap: rem(20);

        @include tablet{
            gap: rem(10);
        }

        @include mobile{
            --cols: 4;
        }
    }

    &--4cols{
        --cols: 4;

        .genre-set-card{
            @include mobile-s{
                min-height: rem(268);
                min-width: rem(231);
            }
        }
    }

    &--3cols{
        --cols: 3;

        @include tablet{
            --cols: 2;
        }

        @include mobile{
            --cols: 1;
        }
    }

    &--2cols{
        --cols: 2;
    }
}