@use '../tools' as *;

.card-grid{
    --cols: 5;

    display: grid;
    grid-template-columns: repeat(var(--cols), 1fr);
    grid-auto-flow: column;
    column-gap: rem(30);
    

    @include laptop{
        column-gap: rem(20);
    }
}