@use '../tools' as *;

.compilation-section{
    border-radius: rem(12);
    position: relative;

    @include tablet-above{
        border: var(--border-thin);
        padding: fluid(50, 40);
    }

    &__item{
        .section__header{
            padding: 0;
        }

        display: grid;
        row-gap: fluid(50, 20);
        
        &:not(:last-child){
            padding-bottom: fluid(100, 50);
        }
    }
}