@use '../tools' as *;

.compilation-section{
    padding: rem(50);
    border: var(--border-thin);
    border-radius: rem(12);

    &__item{
        .section__header{
            padding: 0;
        }

        display: grid;
        row-gap: rem(50);
        
        &:not(:last-child){
            padding-bottom: rem(100);
        }
    }
}