@use '../tools' as *;

.compilation-section{
    border-radius: rem(12);

    @include tablet-above{
        position: relative;
        border: var(--border-thin);
        padding: rem(50);

        @include laptop{
            padding: rem(40);
        }
    }

    &__item{
        .section__header{
            padding: 0;
        }

        display: grid;
        row-gap: fluid(50, 20);
        
        &:not(:last-child){
            padding-bottom: fluid(100, 50);
        }
    }
}