@use '../tools' as *;

.compilation-title{
    content: "";
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: rem(8);
    position: absolute;
    left: rem(50);
    top: rem(-30);
    background-color: var(--red-color);
    padding: rem(10) rem(24);

    @include laptop{
        padding: rem(8) rem(20);
        left: rem(40);
        top: rem(-28);
    }

    &--genre-card{
        @include fluid-text(16, 14);

        top: fluid(-40, -30);
        left: 0;
        padding: rem(10);
        max-height: fluid(32, 25);
    }
}