@use '../tools' as *;

.movie-open{
    display: grid;
    row-gap: fluid(100, 60);
    
    @include tablet-s{
        padding-bottom: var(--section-padding-bottom);
    }

    &__bottom{
        --columnWidth: 66%;

        display: grid;
        grid-template-columns: var(--columnWidth) auto;
        max-width: 100%;

        @include laptop-s{
            grid-template-columns: 1fr;
            row-gap: rem(20);
        }

        @include tablet-above{
            column-gap: rem(20);
        }
    }

    &__content{
        display: grid;
        row-gap: rem(30);

        @include laptop{
            row-gap: rem(20);
        }

        @include tablet-s{
            display: contents;
        }
    }

    &__tile{
        &:nth-child(1){
            order: -1;
        }
    }

    &__info{
        @include tablet-s{
            order: -1;
        }
    }
}