@use '../tools' as *;

.section{
    padding-bottom: var(--section-padding-bottom);

    &:has(.hero-alt){
        @include tablet-s{
            padding-bottom: 0;
        }
    }

    &__header{
        display: flex;
        align-items: center;
        justify-content: space-between;
        column-gap: 1rem;
        padding-bottom: fluid(80, 40);

        &:has(.slider-controls){
            padding-top: fluid(200, 100);
        }

        @include mobile{
            display: grid;
            grid-template-columns: 1fr;
            row-gap: rem(20);
            justify-items: start;
        }
    }

    &__info{
        display: grid;
        row-gap: fluid(14, 6);
    }

    &__btn{
        padding-inline: rem(24);
        align-self: flex-end;

        @include laptop{
            padding-inline: rem(20);
        }
    }

    &--padding-top{
        padding-top: fluid(100, 40);
    }
}