@use '../tools' as *;

.slider{

    &--hero{

        .slider__slides-wrapper{
            display: grid;
            overflow: hidden;
            grid-template-columns: 100%;
            grid-auto-flow: column;
        }
     }

    @include tablet-s{
        display: grid;
        row-gap: rem(24);
        overflow: scroll;
    }

    &__slides-wrapper{
        display: flex;
        overflow: hidden;
        transition-duration: var(--transition-duration);

        @include tablet-s{
            overflow-x: scroll;
            column-gap: rem(20);
        }
    }

    &__slide{
        transition: transform .5s ease-in-out;

        &:not(.is-active){
            transform: translateX(-100%);
            position: absolute;
            @include hide;
        }
    }

    &:not(.slider--hero){
        .slider__slide{
            @include tablet-s{
                @include show;
                transform: translateX(0);
                position: initial;
            }
        }
    }
}