@use '../tools' as *;

.slider{

    @include tablet-s{
        display: grid;
        row-gap: rem(24);
        overflow: scroll;
    }

    &__slides-wrapper{
        display: flex;
        overflow: hidden;
        transition-duration: var(--transition-duration);

        @include tablet-s{
            overflow-x: scroll;
        }
    }

    &__slide{
        min-width: 100%;
        transition: transform var(--transition-duration) ease-in-out;

        &:not(.is-active){
            transform: translateX(-100%);
            position: absolute;
            @include hide;

            @include tablet-s{
                @include show;
                transform: translateX(0);
                position: initial;
            }
        }
    }
}