@use '../tools' as *;

.slider{

    @include tablet-s{
        display: grid;
        row-gap: rem(24);
        overflow: scroll;
    }

    &__slides-wrapper{
        display: flex;
        overflow: hidden;
        column-gap: rem(30);
        transition-duration: var(--transition-duration);

        @include tablet-s{
            overflow-x: scroll;
        }
    }

    &__slide{
        &:not(.is-active){
            display: none;
        }
    }
}