@use '../tools' as *;

.tile{
    --paddingParams: #{rem(50)};

    padding: var(--paddingParams);
    border-radius: rem(12);
    border: var(--border-thin);
    background-color: var(--dark-color-10);

    @include laptop{
        --paddingParams: #{rem(40)};
    }

    @include mobile{
        --paddingParams: #{rem(24)};
    }

    &__inner{
        display: grid;
        row-gap: fluid(30, 16);
        
        &:first-child{
            row-gap: fluid(14, 10);
        }
    }

    &__header{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-block: rem(10);
    }

    &__btn{
        padding-inline: rem(16);
        font-weight: 500;
    }

    &__description{
        color: var(--light-color);
    }

    &--gradient{
        background-color: var(--dark-color-6);
        background-image: linear-gradient(230deg, rgba(229, 0, 0, .07) 0%, rgba(230, 0, 0, 0) 45%);
    }
}