@charset "UTF-8";
/**
  Нормализация блочной модели
 */
*,
::before,
::after {
  box-sizing: border-box;
}

/**
  Убираем внутренние отступы слева тегам списков,
  у которых есть атрибут class
 */
:where(ul, ol):where([class]) {
  padding-left: 0;
}

/**
  Убираем внешние отступы body и двум другим тегам,
  у которых есть атрибут class
 */
body,
:where(blockquote, figure):where([class]) {
  margin: 0;
}

/**
  Убираем внешние отступы вертикали нужным тегам,
  у которых есть атрибут class
 */
:where(h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  margin-left: 0;
  padding: 0;
  border: none;
}

/**
  Убираем стандартный маркер маркированному списку,
  у которого есть атрибут class
 */
:where(ul[class]) {
  list-style: none;
}

:where(address[class]) {
  font-style: normal;
}

/**
  Обнуляем вертикальные внешние отступы параграфа,
  объявляем локальную переменную для внешнего отступа вниз,
  чтобы избежать взаимодействие с более сложным селектором
 */
p {
  --paragraphMarginBottom: 24px;
  margin-block: 0;
}

/**
  Внешний отступ вниз для параграфа без атрибута class,
  который расположен не последним среди своих соседних элементов
 */
p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}

/**
  Упрощаем работу с изображениями и видео
 */
img,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

/**
  Наследуем свойства шрифт для полей ввода
 */
input,
textarea,
select,
button {
  font: inherit;
}

html {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  height: 100%;
}

/**
  Плавный скролл
 */
html,
:has(:target) {
  scroll-behavior: smooth;
}

body {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  min-height: 100%;
  /**
    Унифицированный интерлиньяж
   */
  line-height: 1.5;
}

/**
  Нормализация высоты элемента ссылки при его инспектировании в DevTools
 */
a:where([class]) {
  display: inline-flex;
}

/**
  Курсор-рука при наведении на элемент
 */
button,
label {
  cursor: pointer;
}

/**
  Приводим к единому цвету svg-элементы
 */
[fill] {
  fill: currentColor;
}

[stroke] {
  stroke: currentColor;
}

/**
  Чиним баг задержки смены цвета при взаимодействии с svg-элементами
 */
svg * {
  transition-property: fill, stroke;
}

/**
  Удаляем все анимации и переходы для людей,
  которые предпочитают их не использовать
 */
@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
@font-face {
  font-family: "Manrope Regular";
  src: url("../assets/fonts/Manrope-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
:root {
  --dark-color: #141414;
  --dark-color-20: #333333;
  --dark-color-15: #262626;
  --dark-color-12: #1F1F1F;
  --dark-color-10: #1A1A1A;
  --dark-color-6: #0F0F0F;
  --grey-color-60: #999999;
  --grey-color-75: #BFBFBF;
  --light-color: #FFF;
  --red-color: #E50000;
  --font-base: "Manrope Regular", sans-serif;
  --font-accent: "Manrope Bold", sans-serif;
  --border: 4px solid var(--dark-color-12);
  --border-thin: 1px solid var(--dark-color-15);
  --container-width: 99.8125rem;
  --container-padding-x: 1rem;
  --section-padding-bottom: clamp(5rem, 3.5898760331rem + 5.7851239669vw, 9.375rem);
  --transition-duration: .3s;
}
@media (width <= 90.06125rem) {
  :root {
    --container-width: 80rem;
  }
}

.container {
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  margin-inline: auto;
  padding-inline: var(--container-padding-x);
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  -webkit-clip-path: inset(100%) !important;
          clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

@media (width <= 63.99875rem) {
  .tablet-hidden {
    display: none !important;
  }
}

@media (width > 63.99875rem) {
  .visible-tablet {
    display: none !important;
  }
}

@media (width <= 61.93625rem) {
  .tablet-s-hidden {
    display: none !important;
  }
}

@media (width > 61.93625rem) {
  .visible-tablet-s {
    display: none !important;
  }
}

@media (width <= 47.99875rem) {
  .mobile-hidden {
    display: none !important;
  }
}

@media (width > 47.99875rem) {
  .visible-mobile {
    display: none !important;
  }
}

html.is-locked {
  overflow: hidden;
}

body {
  font-size: clamp(0.875rem, 0.7944214876rem + 0.3305785124vw, 1.125rem);
  display: flex;
  flex-direction: column;
  font-family: var(--font-base);
  font-weight: 400;
  color: var(--grey-color-60);
  background-color: var(--dark-color);
  line-height: 1.5;
}

main {
  flex-grow: 1;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  color: var(--light-color);
}

h1, .h1,
h2, .h2,
h3, .h3 {
  font-weight: 700;
}

h4, .h4,
h5, .h5,
h6, .h6 {
  font-weight: 500;
}

h1, .h1 {
  font-size: clamp(1.75rem, 1.145661157rem + 2.479338843vw, 3.625rem);
}

h2, .h2 {
  font-size: clamp(1.5rem, 1.0165289256rem + 1.9834710744vw, 3rem);
}

h3, .h3 {
  font-size: clamp(1.5rem, 1.2179752066rem + 1.1570247934vw, 2.375rem);
}

h4, .h4 {
  font-size: clamp(1.125rem, 1.0041322314rem + 0.4958677686vw, 1.5rem);
}

h5, .h5 {
  font-size: clamp(1.125rem, 1.0444214876rem + 0.3305785124vw, 1.375rem);
}

h6, .h6 {
  font-size: clamp(1rem, 0.9194214876rem + 0.3305785124vw, 1.25rem);
  font-weight: 600;
}

a,
button,
label,
input,
textarea,
select,
svg * {
  transition-duration: var(--transition-duration);
}

a {
  color: inherit;
}
@media (any-hover: none) {
  a:active {
    color: var(--light-color);
  }
}
@media (any-hover: hover) {
  a:hover {
    color: var(--light-color);
  }
}
a[class] {
  text-decoration: none;
}

:focus-visible {
  outline: 0.125rem dashed var(--light-color);
  outline-offset: 0.125rem;
}

a[aria-label], button[aria-label] {
  position: relative;
}
a[aria-label]::before, button[aria-label]::before {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  width: 2.75rem;
  height: 2.75rem;
  content: "";
}

.logo {
  max-width: clamp(7.25rem, 5.5578512397rem + 6.9421487603vw, 12.5rem);
}

.icon-container {
  --size: 2.75rem;
  background-color: transparent;
  border: none;
  padding: 0;
  width: var(--size);
  height: var(--size);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--dark-color-10);
  border-radius: 0.375rem;
  border: var(--border-thin);
}
.icon-container--dark-bg {
  background-color: var(--dark-color-6);
  width: clamp(3rem, 2.8388429752rem + 0.6611570248vw, 3.5rem);
  height: clamp(3rem, 2.8388429752rem + 0.6611570248vw, 3.5rem);
}
@media (any-hover: none) {
  .icon-container:active {
    border-color: var(--light-color);
  }
}
@media (any-hover: hover) {
  .icon-container:hover {
    border-color: var(--light-color);
  }
}

.burger-btn {
  border: 3px solid var(--dark-color-15);
}
@media (any-hover: none) {
  .burger-btn:active {
    opacity: 0.7;
  }
}
@media (any-hover: hover) {
  .burger-btn:hover {
    opacity: 0.7;
  }
}
.burger-btn.is-active .burger-btn__line:nth-child(1) {
  rotate: 45deg;
  transform-origin: 0;
  translate: 0.15em -0.1em;
}
.burger-btn.is-active .burger-btn__line:nth-child(2) {
  rotate: -45deg;
}
.burger-btn.is-active .burger-btn__line:nth-child(3) {
  width: 0;
}
.burger-btn__lines-container {
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  height: 0.75rem;
  width: 1.125rem;
}
.burger-btn__line {
  width: 100%;
  height: 0.09375rem;
  background-color: var(--light-color);
  transition-duration: var(--transition-duration);
}
.burger-btn__line:last-child {
  width: 55%;
  align-self: flex-end;
}

.actions {
  display: flex;
  align-items: center;
  -moz-column-gap: clamp(0.875rem, 0.5526859504rem + 1.3223140496vw, 1.875rem);
       column-gap: clamp(0.875rem, 0.5526859504rem + 1.3223140496vw, 1.875rem);
}
.actions__btn {
  --size: 2.125rem;
  background-color: transparent;
  border: none;
  padding: 0;
  width: var(--size);
  height: var(--size);
}
@media (any-hover: none) {
  .actions__btn:active {
    opacity: 0.7;
  }
}
@media (any-hover: hover) {
  .actions__btn:hover {
    opacity: 0.7;
  }
}
@media (width <= 90.06125rem) {
  .actions__btn {
    --size: 1.5rem;
  }
}
.actions__btn svg {
  width: 100%;
  height: 100%;
  fill: transparent;
  color: var(--light-color);
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: linear-gradient(180deg, rgb(20, 20, 20) 0%, rgba(20, 20, 20, 0) 100%), linear-gradient(180deg, rgba(20, 20, 20, 0) 0%, rgb(20, 20, 20) 100%), url("../../assets/images/home-hero-bg-img.png") center/cover no-repeat;
}
.header--transparent {
  background: transparent;
}
.header__top {
  display: flex;
  justify-content: center;
  position: sticky;
  top: 0;
  z-index: 999;
  color: var(--grey-color-60);
  width: 100%;
  max-height: 7.5rem;
  animation-name: sticky-header-scroll;
  animation-fill-mode: both;
  animation-timeline: scroll();
  animation-range: 1.875rem 12.5rem;
}
@keyframes sticky-header-scroll {
  100% {
    position: fixed;
    background-color: var(--dark-color-6);
    box-shadow: 0 0 1rem 0 var(--red-color);
  }
}
.header__menu-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 1.4375rem;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
  width: 100%;
}
@media (width > 61.93625rem) {
  .header__mobile-overlay {
    display: contents;
  }
}
@media (width <= 61.93625rem) {
  .header__mobile-overlay {
    position: fixed;
    inset: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 3rem;
    background-color: var(--dark-color-6);
    transition-duration: var(--transition-duration);
  }
  .header__mobile-overlay:not(.is-active) {
    opacity: 0;
    visibility: hidden;
    translate: 100%;
  }
}
.header-menu__list {
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 0.375rem;
       column-gap: 0.375rem;
  padding: 0.625rem;
  border: var(--border);
  border-radius: 0.75rem;
  background-color: var(--dark-color-6);
}
@media (width <= 90.06125rem) {
  .header-menu__list {
    -moz-column-gap: 0.25rem;
         column-gap: 0.25rem;
    padding: 0.5rem;
  }
}
@media (width <= 61.93625rem) {
  .header-menu__list {
    flex-direction: column;
    row-gap: 1rem;
    border: none;
    background-color: transparent;
  }
}
.header-menu__link {
  padding: 0.875rem 1.5rem;
}
.header-menu__link.is-active {
  background-color: var(--dark-color-10);
  border-radius: 0.5rem;
  color: var(--light-color);
  pointer-events: none;
  font-weight: 500;
}
@media (width <= 90.06125rem) {
  .header-menu__link {
    font-size: 0.875rem;
  }
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-block: 1.125rem;
  background-color: var(--red-color);
  max-height: 3.9375rem;
  color: var(--light-color);
  border-radius: 0.5rem;
  white-space: nowrap;
  border: 2px solid transparent;
  font-weight: 600;
}
@media (any-hover: none) {
  .btn:active {
    border-color: var(--red-color);
    background-color: var(--dark-color-12);
  }
}
@media (any-hover: hover) {
  .btn:hover {
    border-color: var(--red-color);
    background-color: var(--dark-color-12);
  }
}
@media (width <= 90.06125rem) {
  .btn {
    padding-block: 0.96875rem;
  }
}
@media (width <= 47.99875rem) {
  .btn {
    max-height: 3.25rem;
    padding-block: 0.875rem;
  }
}
.btn--dark {
  border: var(--border-thin);
  border-radius: 0.5rem;
  background-color: var(--dark-color);
}

.icon {
  --iconImg: url("../../assets/icons/icon--play-btn.svg");
  display: inline-flex;
  align-items: center;
  -moz-column-gap: 0.25rem;
       column-gap: 0.25rem;
}
.icon::before {
  width: 1.5rem;
  height: 1.5rem;
  content: "";
  background: var(--iconImg);
  margin-right: 0.625rem;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.icon--plus-sign-before {
  --iconImg: url("../../assets/icons/icon--plus-sign.svg");
}
.icon--calendar-before {
  --iconImg: url("../../assets/icons/icon--calendar.svg");
}
.icon--languages-before {
  --iconImg: url("../../assets/icons/icon--languages.svg");
}
.icon--star-before {
  --iconImg: url("../../assets/icons/icon--star.svg");
}
.icon--genres-before {
  --iconImg: url("../../assets/icons/icon--genres.svg");
}

.hero {
  row-gap: clamp(3.125rem, 1.493285124rem + 6.694214876vw, 8.1875rem);
}
.hero, .hero__info, .hero__body {
  display: grid;
  justify-items: center;
}
.hero__img {
  width: 29.375rem;
  margin-top: clamp(3rem, 2.4560950413rem + 2.2314049587vw, 4.6875rem);
  opacity: 0.9;
  fill: var(--light-color);
}
@media (width <= 90.06125rem) {
  .hero__img {
    width: 18.75rem;
  }
}
@media (width <= 47.99875rem) {
  .hero__img {
    width: 12.5rem;
  }
}
.hero__info {
  row-gap: 0.875rem;
  text-align: center;
}
@media (width <= 90.06125rem) {
  .hero__info {
    row-gap: 0.625rem;
  }
}
.hero__body {
  row-gap: clamp(1.875rem, 1.472107438rem + 1.652892562vw, 3.125rem);
  width: clamp(24.375rem, 10.2334710744rem + 58.0165289256vw, 68.25rem);
}
.hero__btn {
  padding-inline: 1.5rem;
}

.section {
  padding-bottom: var(--section-padding-bottom);
}
@media (width <= 61.93625rem) {
  .section:has(.hero-alt) {
    padding-bottom: 0;
  }
}
.section__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
  padding-bottom: clamp(2.5rem, 1.694214876rem + 3.305785124vw, 5rem);
}
.section__header:has(.slider-controls) {
  padding-top: clamp(6.25rem, 4.2355371901rem + 8.2644628099vw, 12.5rem);
}
@media (width <= 47.99875rem) {
  .section__header {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 1.25rem;
    justify-items: start;
  }
}
.section__info {
  display: grid;
  row-gap: clamp(0.375rem, 0.2138429752rem + 0.6611570248vw, 0.875rem);
}
.section__btn {
  padding-inline: 1.5rem;
  align-self: flex-end;
}
@media (width <= 90.06125rem) {
  .section__btn {
    padding-inline: 1.25rem;
  }
}

.slider-controls__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
  padding: 1rem;
  border-radius: 0.75rem;
  border: var(--border-thin);
  background-color: var(--dark-color-6);
}
@media (width <= 90.06125rem) {
  .slider-controls__inner {
    padding: 0.75rem;
  }
}
@media (width <= 61.93625rem) {
  .slider-controls__inner {
    opacity: 0;
    visibility: hidden;
  }
}
.slider-controls--transparent .slider-controls__inner {
  border-radius: 0;
  border: none;
  background-color: transparent;
  padding: 0;
}
.slider-controls--transparent .slider-controls__btn {
  background-color: var(--dark-color-6);
}
.slider-controls--movie-open .slider-controls__inner {
  border-radius: 0;
  border: none;
  background-color: transparent;
  padding: 0;
}
.slider-controls--movie-open .slider-controls__btn {
  --size: 3.25rem;
  width: var(--size);
  height: var(--size);
  border-radius: 6.25rem;
  background-color: var(--dark-color);
  color: var(--grey-color-60);
}
@media (width <= 90.06125rem) {
  .slider-controls--movie-open .slider-controls__btn {
    --size: 2.75rem;
  }
}
.slider-controls--review .slider-controls__inner {
  border-radius: 0;
  border: none;
  background-color: transparent;
  padding: 0;
  justify-content: center;
}
.slider-controls--review .slider-controls__btn {
  --size: 3.25rem;
  width: var(--size);
  height: var(--size);
  border-radius: 6.25rem;
  background-color: var(--dark-color);
  color: var(--grey-color-60);
}
@media (width <= 90.06125rem) {
  .slider-controls--review .slider-controls__btn {
    --size: 2.75rem;
  }
}
.slider-controls__btn {
  background-color: transparent;
  border: none;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.875rem;
  border: var(--border-thin);
  border-radius: 0.75rem;
  color: var(--light-color);
  background-color: var(--dark-color-10);
}
@media (any-hover: none) {
  .slider-controls__btn:active {
    border-color: var(--light-color);
  }
}
@media (any-hover: hover) {
  .slider-controls__btn:hover {
    border-color: var(--light-color);
  }
}
@media (width <= 90.06125rem) {
  .slider-controls__btn {
    padding: 0.625rem;
  }
}
.slider-controls__page-marks-container {
  display: flex;
  -moz-column-gap: 0.1875rem;
       column-gap: 0.1875rem;
  align-items: center;
}
.slider-controls__page-mark {
  background-color: transparent;
  border: none;
  padding: 0;
  width: 1rem;
  height: 0.25rem;
  background-color: var(--dark-color-20);
  border-radius: 0.375rem;
}
.slider-controls__page-mark.is-active {
  width: 1.4375rem;
  background-color: var(--red-color);
}
@media (width <= 90.06125rem) {
  .slider-controls__page-mark.is-active {
    width: 1.125rem;
  }
}
@media (width <= 90.06125rem) {
  .slider-controls__page-mark {
    width: 0.875rem;
  }
}
.slider-controls__mobile-controls-container {
  display: flex;
  align-items: center;
  margin-inline: auto;
}
.slider-controls__mobile-bar {
  --progressMarkWidth: 25%;
  width: 13.75rem;
  height: 0.3125rem;
  border-radius: 0.375rem;
  background-color: var(--dark-color-20);
  position: relative;
}
.slider-controls__mobile-bar::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 0.375rem;
  width: var(--progressMarkWidth);
  height: 100%;
  background-color: var(--red-color);
}
@media (width <= 30.06125rem) {
  .slider-controls__mobile-bar {
    width: 6.875rem;
  }
}

.card-grid {
  --cols: 5;
  display: grid;
  grid-template-columns: repeat(var(--cols), 1fr);
  gap: 1.875rem;
}
@media (width <= 90.06125rem) {
  .card-grid {
    gap: 1.25rem;
  }
}
.card-grid--8cols {
  --cols: 8;
  gap: 1.25rem;
}
.card-grid--4cols {
  --cols: 4;
}
@media (width <= 30.06125rem) {
  .card-grid--4cols .genre-set-card {
    min-height: 16.75rem;
    min-width: 14.4375rem;
  }
}
.card-grid--3cols {
  --cols: 3;
}
@media (width <= 63.99875rem) {
  .card-grid--3cols {
    --cols: 2;
  }
}
@media (width <= 47.99875rem) {
  .card-grid--3cols {
    --cols: 1;
  }
}
.card-grid--2cols {
  --cols: 2;
}

.genre-set-card {
  display: flex;
  flex-direction: column;
  row-gap: 0.09375rem;
  padding: 1.875rem;
  border: var(--border-thin);
  border-radius: 0.75rem;
  background-color: var(--dark-color-10);
  color: var(--light-color);
}
@media (width <= 90.06125rem) {
  .genre-set-card {
    padding: 1.5rem;
  }
}
@media (width <= 61.93625rem) {
  .genre-set-card {
    max-height: 12.5625rem;
    min-width: 11.125rem;
  }
}
@media (width <= 47.99875rem) {
  .genre-set-card {
    padding: 1.25rem;
  }
}
@media (width <= 30.06125rem) {
  .genre-set-card {
    min-height: 12.5625rem;
    min-width: 11.3125rem;
  }
}
.genre-set-card__img-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.3125rem;
  position: relative;
}
.genre-set-card__img-grid::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  background: linear-gradient(180deg, rgba(26, 26, 26, 0) 0%, rgb(26, 26, 26) 100%);
}
.genre-set-card__img {
  width: 100%;
  border-radius: 0.625rem;
}
.genre-set-card__actions {
  width: 100%;
}
.genre-set-card__redirect-link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 600;
  position: relative;
}
@media (any-hover: none) {
  .genre-set-card__redirect-link:active {
    opacity: 0.55;
  }
}
@media (any-hover: hover) {
  .genre-set-card__redirect-link:hover {
    opacity: 0.55;
  }
}

.slider--hero .slider__slides-wrapper {
  display: grid;
  overflow: hidden;
  grid-template-columns: 100%;
  grid-auto-flow: column;
}
@media (width <= 61.93625rem) {
  .slider {
    display: grid;
    row-gap: 1.5rem;
    overflow: scroll;
  }
}
.slider__slides-wrapper {
  display: flex;
  overflow: hidden;
  transition-duration: var(--transition-duration);
}
@media (width <= 61.93625rem) {
  .slider__slides-wrapper {
    overflow-x: scroll;
    -moz-column-gap: 1.25rem;
         column-gap: 1.25rem;
  }
}
.slider__slide {
  transition: transform 0.5s ease-in-out;
  width: 100%;
}
@media (width <= 61.93625rem) {
  .slider__slide {
    width: auto;
  }
}
.slider__slide:not(.is-active) {
  transform: translateX(-100%);
  position: absolute;
  opacity: 0;
  visibility: hidden;
}
@media (width <= 61.93625rem) {
  .slider:not(.slider--hero) .slider__slide {
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
    position: initial;
  }
}

.supported-devices-card {
  display: grid;
  row-gap: clamp(1.25rem, 1.048553719rem + 0.826446281vw, 1.875rem);
}
.supported-devices-card__device {
  display: flex;
  -moz-column-gap: clamp(0.625rem, 0.5041322314rem + 0.4958677686vw, 1rem);
       column-gap: clamp(0.625rem, 0.5041322314rem + 0.4958677686vw, 1rem);
  align-items: center;
}
.supported-devices-card__icon-container {
  --size: 4.5rem;
  width: var(--size);
  height: var(--size);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--dark-color);
  border: var(--border-thin);
  border-radius: 0.75rem;
  color: var(--red-color);
}
@media (width <= 47.99875rem) {
  .supported-devices-card__icon-container {
    --size: 2.75rem;
  }
}
.supported-devices-card__icon-container svg {
  --size: 2.5rem;
  width: var(--size);
  height: var(--size);
}
@media (width <= 47.99875rem) {
  .supported-devices-card__icon-container svg {
    --size: 1.5rem;
  }
}

.tile {
  --paddingParams: 3.125rem;
  padding: var(--paddingParams);
  border-radius: 0.75rem;
  border: var(--border-thin);
  background-color: var(--dark-color-10);
}
@media (width <= 90.06125rem) {
  .tile {
    --paddingParams: 2.5rem;
  }
}
@media (width <= 47.99875rem) {
  .tile {
    --paddingParams: 1.5rem;
  }
}
.tile__inner {
  display: grid;
  row-gap: clamp(1rem, 0.7179752066rem + 1.1570247934vw, 1.875rem);
}
.tile__inner:first-child {
  row-gap: clamp(0.625rem, 0.5444214876rem + 0.3305785124vw, 0.875rem);
}
.tile__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-block: 0.625rem;
}
.tile__btn {
  padding-inline: 1rem;
  font-weight: 500;
}
.tile__description {
  color: var(--light-color);
}
.tile--gradient {
  background-color: var(--dark-color-6);
  background-image: linear-gradient(230deg, rgba(229, 0, 0, 0.07) 0%, rgba(230, 0, 0, 0) 45%);
}

.accordion-cell {
  padding: 1.875rem 2.125rem;
}
.accordion-cell:not(:last-child) {
  border-bottom: 1px solid;
  -o-border-image: linear-gradient(90deg, rgba(229, 0, 0, 0) 0%, rgb(229, 0, 0) 17%, rgba(229, 0, 0, 0) 100%) 1;
     border-image: linear-gradient(90deg, rgba(229, 0, 0, 0) 0%, rgb(229, 0, 0) 17%, rgba(229, 0, 0, 0) 100%) 1;
}
@media (width <= 47.99875rem) {
  .accordion-cell {
    padding-inline: 0;
  }
}
.accordion-cell__inner {
  padding: 1.25rem;
}
.accordion-cell__details[open] .accordion-cell {
  padding: 2.125rem;
}
.accordion-cell__details[open] .accordion-cell__title::before, .accordion-cell__details[open] .accordion-cell__title::after {
  background-color: var(--red-color);
}
.accordion-cell__details[open] .accordion-cell__title::after {
  rotate: 0deg;
}
.accordion-cell__details[open] + .accordion-cell__content {
  grid-template-rows: 1fr;
}
.accordion-cell__summary {
  list-style-type: none;
  color: var(--light-color);
  position: relative;
}
.accordion-cell__summary::-webkit-details-marker {
  display: none;
}
.accordion-cell__summary::before {
  font-size: clamp(1rem, 0.9194214876rem + 0.3305785124vw, 1.25rem);
  position: absolute;
  top: 50%;
  translate: 0 -50%;
  content: "0" counter(custom-counter);
  background-color: var(--dark-color-12);
  border: var(--border-thin);
  padding: clamp(0.75rem, 0.5888429752rem + 0.6611570248vw, 1.25rem);
  border-radius: 0.625rem;
  font-weight: 600;
  left: 0;
}
@media (width <= 90.06125rem) {
  .accordion-cell__summary::before {
    margin-right: 1rem;
  }
}
@media (any-hover: none) {
  .accordion-cell__summary:active {
    cursor: pointer;
  }
}
@media (any-hover: hover) {
  .accordion-cell__summary:hover {
    cursor: pointer;
  }
}
.accordion-cell__title {
  font-size: clamp(1.25rem, 1.2097107438rem + 0.1652892562vw, 1.375rem);
  font-weight: 500;
  transition-duration: var(--transition-duration);
  padding-left: 5.125rem;
}
@media (any-hover: none) {
  .accordion-cell__title:active {
    color: var(--red-color);
  }
}
@media (any-hover: hover) {
  .accordion-cell__title:hover {
    color: var(--red-color);
  }
}
@media (width <= 47.99875rem) {
  .accordion-cell__title {
    padding-left: 3.625rem;
  }
}
.accordion-cell__title::before, .accordion-cell__title::after {
  position: absolute;
  top: 50%;
  translate: 0 -50%;
  content: "";
  right: 0;
  width: clamp(0.9375rem, 0.8367768595rem + 0.4132231405vw, 1.25rem);
  height: clamp(0.125rem, 0.114927686rem + 0.041322314vw, 0.15625rem);
  border-radius: 0.3125rem;
  background-color: var(--light-color);
  transition-duration: var(--transition-duration);
}
.accordion-cell__title::after {
  rotate: 90deg;
}
.accordion-cell__content {
  display: grid;
  grid-template-rows: 0fr;
  transition-duration: var(--transition-duration);
}
@media (width > 47.99875rem) {
  .accordion-cell__content {
    padding-left: 5.125rem;
  }
}
.accordion-cell__content-inner {
  overflow: hidden;
}
.accordion-cell__content-body {
  --offsetTop: clamp(0.75rem, 0.5888429752rem + 0.6611570248vw, 1.25rem);
  padding-top: var(--offsetTop);
}
@media (width <= 47.99875rem) {
  .accordion-cell__content-body {
    --offsetTop: 1.53125rem;
  }
}

.accordion-group {
  counter-reset: custom-counter;
  list-style-type: none;
}
.accordion-group:last-child {
  counter-reset: counter-continues 4;
}
.accordion-group:last-child .accordion-group__item {
  counter-increment: calc(counter-continues + 1);
}
.accordion-group:last-child .accordion-cell__item::before {
  content: "0" counter(counter-continues);
}
.accordion-group__item {
  counter-increment: custom-counter;
}

.accordion {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
@media (width > 63.99875rem) {
  .accordion {
    -moz-column-gap: 2.5rem;
         column-gap: 2.5rem;
  }
}
@media (width <= 61.93625rem) {
  .accordion {
    grid-template-columns: 1fr;
  }
}

.plans-card {
  display: grid;
  row-gap: clamp(1.875rem, 1.472107438rem + 1.652892562vw, 3.125rem);
}
.plans-card__info {
  display: grid;
  row-gap: clamp(0.625rem, 0.5041322314rem + 0.4958677686vw, 1rem);
}
.plans-card__title {
  font-weight: 700;
}
.plans-card__accent-area {
  font-size: clamp(1.5rem, 1.1776859504rem + 1.3223140496vw, 2.5rem);
  color: var(--light-color);
  font-weight: 600;
}
.plans-card__actions {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  -moz-column-gap: clamp(0.75rem, 0.5888429752rem + 0.6611570248vw, 1.25rem);
       column-gap: clamp(0.75rem, 0.5888429752rem + 0.6611570248vw, 1.25rem);
}

.tabs-controls {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 0.625rem;
  border: var(--border-thin);
  background-color: var(--dark-color-6);
  border-radius: 0.625rem;
}
@media (width <= 90.06125rem) {
  .tabs-controls {
    padding: 0.5rem;
  }
}
.tabs-controls__btn {
  background-color: transparent;
  border: none;
  padding: 0;
  padding: 0.875rem 1.5rem;
  color: var(--grey-color-60);
  border-radius: 0.625rem;
}
@media (width <= 90.06125rem) {
  .tabs-controls__btn {
    padding: 0.75rem 1.25rem;
  }
}
.tabs-controls__btn.is-active {
  color: var(--light-color);
  background-color: var(--dark-color-12);
  pointer-events: none;
}
@media (any-hover: none) {
  .tabs-controls__btn:active {
    background-color: var(--dark-color-12);
    color: var(--red-color);
  }
}
@media (any-hover: hover) {
  .tabs-controls__btn:hover {
    background-color: var(--dark-color-12);
    color: var(--red-color);
  }
}

@media (width <= 63.99875rem) {
  .tabs__tab {
    grid-template-columns: repeat(auto-fit, 1fr);
  }
}
.tabs__tab:not(.is-active) {
  display: none;
}

.hero-alt__inner {
  --bgImg: url("../../assets/images/hero-alt-1.jpg");
  margin-top: 3.125rem;
  display: flex;
  flex-direction: column;
  justify-content: end;
  row-gap: 3.125rem;
  background: linear-gradient(0deg, rgb(20, 20, 20) 0%, rgba(20, 20, 20, 0) 100%), var(--bgImg) center/cover, no-repeat;
  min-height: clamp(29.25rem, 21.8569214876rem + 30.3305785124vw, 52.1875rem);
  padding: 3.125rem 3.125rem 1.25rem 3.125rem;
  border-radius: 0.75rem;
}
.hero-alt__inner:nth-child(even) {
  --bgImg: url("../../assets/images/hero-alt-2.jpg");
}
@media (width <= 90.06125rem) {
  .hero-alt__inner {
    padding-block: 1rem;
    padding-inline: 2.5rem;
    row-gap: 2.5rem;
  }
}
@media (width <= 47.99875rem) {
  .hero-alt__inner {
    padding-inline: 1.5rem;
  }
}
.hero-alt__body {
  display: flex;
  align-items: center;
  flex-direction: column;
  row-gap: 1.875rem;
}
@media (width <= 90.06125rem) {
  .hero-alt__body {
    row-gap: 1.25rem;
  }
}
.hero-alt__info {
  display: grid;
  row-gap: 0.25rem;
  text-align: center;
}
@media (width <= 47.99875rem) {
  .hero-alt__description {
    display: none;
  }
}
.hero-alt__btn {
  padding-inline: 1.5rem;
  max-width: 18.75rem;
}
@media (width <= 47.99875rem) {
  .hero-alt__btn {
    width: 100%;
  }
}
.hero-alt__actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  -moz-column-gap: 1.25rem;
       column-gap: 1.25rem;
}
@media (width <= 47.99875rem) {
  .hero-alt__actions {
    display: contents;
  }
}
.hero-alt__video-controls {
  display: flex;
  -moz-column-gap: 0.625rem;
       column-gap: 0.625rem;
}
.hero-alt__video-controls-btn {
  color: var(--light-color);
}
.hero-alt__video-controls-btn svg {
  fill: transparent;
}

.compilation-title {
  content: "";
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
  position: absolute;
  left: 3.125rem;
  top: -1.875rem;
  background-color: var(--red-color);
  padding: 0.625rem 1.5rem;
}
@media (width <= 90.06125rem) {
  .compilation-title {
    padding: 0.5rem 1.25rem;
    left: 2.5rem;
    top: -1.75rem;
  }
}
.compilation-title--genre-card {
  font-size: clamp(0.875rem, 0.8347107438rem + 0.1652892562vw, 1rem);
  top: clamp(-1.875rem, -1.673553719rem + -0.826446281vw, -2.5rem);
  left: 0;
  padding: 0.625rem;
  max-height: clamp(1.5625rem, 1.4214876033rem + 0.5785123967vw, 2rem);
}

.rating {
  display: inline-flex;
  -moz-column-gap: 0.125rem;
       column-gap: 0.125rem;
  align-items: center;
  justify-content: center;
}
.rating__star {
  --starImg: url("/assets/icons/star.svg");
  --starSize: 1.125rem;
  width: var(--starSize);
  height: var(--starSize);
  background: var(--starImg) center/contain no-repeat;
}
.rating__star.is-active {
  --starImg: url("/assets/icons/star--active.svg");
}
.rating__value {
  margin-left: 0.25rem;
}

.film-card {
  padding: 1.25rem;
  border: var(--border-thin);
  border-radius: 0.75rem;
  background-color: var(--dark-color-10);
  color: var(--light-color);
}
@media (width <= 90.06125rem) {
  .film-card {
    padding: 1rem;
  }
}
@media (width <= 47.99875rem) {
  .film-card {
    padding: 0.75rem;
  }
}
.film-card__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1.25rem;
}
@media (any-hover: none) {
  .film-card__inner:active {
    opacity: 0.7;
  }
}
@media (any-hover: hover) {
  .film-card__inner:hover {
    opacity: 0.7;
  }
}
@media (width <= 47.99875rem) {
  .film-card__inner {
    row-gap: 0.75rem;
  }
}
.film-card__img {
  width: 100%;
  height: 100%;
  border-radius: 0.75rem;
}
.film-card__info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  -moz-column-gap: 0.25rem;
       column-gap: 0.25rem;
}
.film-card__tile {
  font-size: clamp(0.75rem, 0.6694214876rem + 0.3305785124vw, 1rem);
  display: flex;
  align-items: center;
  justify-content: space-between;
  -moz-column-gap: 0.25rem;
       column-gap: 0.25rem;
  background-color: var(--dark-color);
  border: var(--border-thin);
  border-radius: 3.1875rem;
  color: var(--grey-color-60);
}
@media (width <= 61.93625rem) {
  .film-card__tile {
    white-space: nowrap;
    padding: 0.375rem;
  }
}
.film-card__tile--wide {
  text-align: center;
  justify-content: center;
  width: 100%;
  padding: 0.625rem;
}
.film-card__tile svg {
  --size: 1.5rem;
  width: var(--size);
  height: var(--size);
}
@media (width <= 90.06125rem) {
  .film-card__tile svg {
    --size: 1.25rem;
  }
}

.compilation-section {
  border-radius: 0.75rem;
}
@media (width > 63.99875rem) {
  .compilation-section {
    position: relative;
    border: var(--border-thin);
    padding: 3.125rem;
  }
}
@media (width > 63.99875rem) and (width <= 90.06125rem) {
  .compilation-section {
    padding: 2.5rem;
  }
}
.compilation-section__item {
  display: grid;
  row-gap: clamp(1.25rem, 0.645661157rem + 2.479338843vw, 3.125rem);
}
.compilation-section__item .section__header {
  padding: 0;
}
.compilation-section__item:not(:last-child) {
  padding-bottom: clamp(3.125rem, 2.117768595rem + 4.132231405vw, 6.25rem);
}

.compilation {
  display: flex;
  flex-direction: column;
  row-gap: clamp(3.125rem, 1.7148760331rem + 5.7851239669vw, 7.5rem);
}

.additional-info {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 1.875rem;
}
.additional-info__item {
  display: grid;
  row-gap: 0.875rem;
}
.additional-info__content {
  color: var(--light-color);
}
.additional-info__list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.625rem;
}
.additional-info__list-item {
  padding: 0.5rem 0.875rem;
  background-color: var(--dark-color);
  border: var(--border-thin);
  border-radius: 0.5rem;
}
.additional-info__ratings {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  -moz-column-gap: 1.25rem;
       column-gap: 1.25rem;
}
.additional-info__ratings-item {
  display: flex;
  flex-direction: column;
  align-items: start;
  row-gap: 0.25rem;
  padding: 1rem;
  border: var(--border-thin);
  border-radius: 0.5rem;
  background-color: var(--dark-color);
}
.additional-info__head {
  display: flex;
  align-items: center;
  justify-content: start;
  -moz-column-gap: 0.625rem;
       column-gap: 0.625rem;
  background-color: var(--dark-color);
  border: var(--border-thin);
  padding: 0.875rem;
  border-radius: 0.5rem;
}
.additional-info__head-img {
  border-radius: 0.5rem;
}
.additional-info__head-origin {
  color: var(--grey-color-60);
}

.review-card {
  display: grid;
  row-gap: 1.25rem;
  padding: 2.5rem;
  border-radius: 0.75rem;
  background-color: var(--dark-color-6);
  border: var(--border-thin);
}
.review-card__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.review-card__tile {
  padding: 0.375rem 0.625rem;
}
.review-card__name {
  color: var(--light-color);
}

.cast__img {
  border-radius: 0.75rem;
}

.movie-open {
  display: grid;
  row-gap: clamp(3.75rem, 2.944214876rem + 3.305785124vw, 6.25rem);
}
.movie-open__bottom {
  display: grid;
  grid-template-columns: 66% auto;
  -moz-column-gap: 1.25rem;
       column-gap: 1.25rem;
  width: 100%;
}
.movie-open__content {
  display: grid;
  row-gap: 1.875rem;
}
@media (width <= 90.06125rem) {
  .movie-open__content {
    row-gap: 1.25rem;
  }
}

.free-trial {
  display: flex;
  justify-content: space-between;
  align-items: start;
  padding: 6.25rem 5rem;
  border: var(--border-thin);
  border-radius: 0.75rem;
  background: linear-gradient(90deg, rgb(15, 15, 15) 2%, rgba(20, 15, 15, 0.97) 16%, rgba(34, 14, 14, 0.91) 28%, rgba(229, 0, 0, 0.3) 100%), url("../../assets/images/free-trial-bg-img.png") right/cover no-repeat;
  height: 21.5rem;
}
@media (width <= 90.06125rem) {
  .free-trial {
    height: 14.75rem;
  }
}
@media (width <= 61.93625rem) {
  .free-trial {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 3.125rem;
    height: 21.5rem;
  }
}
.free-trial__info {
  display: grid;
  row-gap: 0.875rem;
}
@media (width <= 61.93625rem) {
  .free-trial__info {
    text-align: center;
  }
}
.free-trial__btn {
  padding-inline: 1.5rem;
}

.soc1als__list {
  display: flex;
  -moz-column-gap: 0.875rem;
       column-gap: 0.875rem;
}
@media (width <= 90.06125rem) {
  .soc1als__list {
    -moz-column-gap: 0.625rem;
         column-gap: 0.625rem;
  }
}
.soc1als__link {
  color: var(--light-color);
  border: var(--border-thin);
}
@media (any-hover: none) {
  .soc1als__link:active {
    border-color: var(--light-color);
  }
}
@media (any-hover: hover) {
  .soc1als__link:hover {
    border-color: var(--light-color);
  }
}

.footer {
  background-color: var(--dark-color-6);
}
.footer__main {
  padding-block: clamp(3.125rem, 2.117768595rem + 4.132231405vw, 6.25rem);
  border-bottom: var(--border-thin);
}
.footer__menu {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  -moz-column-gap: 1.875rem;
       column-gap: 1.875rem;
}
@media (width <= 90.06125rem) {
  .footer__menu {
    -moz-column-gap: 1.25rem;
         column-gap: 1.25rem;
  }
}
@media (width <= 61.93625rem) {
  .footer__menu {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 1.875rem;
  }
}
.footer__menu-column {
  display: flex;
  flex-direction: column;
  row-gap: clamp(1rem, 0.8388429752rem + 0.6611570248vw, 1.5rem);
}
.footer__menu-list {
  display: flex;
  flex-direction: column;
  row-gap: clamp(0.5rem, 0.3791322314rem + 0.4958677686vw, 0.875rem);
}
.footer__extra {
  display: flex;
  justify-content: space-between;
  padding-top: 1.5625rem;
  padding-bottom: clamp(1.25rem, 0.645661157rem + 2.479338843vw, 3.125rem);
}
@media (width <= 90.06125rem) {
  .footer__extra {
    padding-top: 1.25rem;
  }
}
@media (width <= 47.99875rem) {
  .footer__extra {
    flex-direction: column;
    align-items: start;
    row-gap: 1.25rem;
  }
}
.footer__extra-menu-list {
  display: flex;
}
.footer__extra-menu-item:not(:last-child)::after {
  content: "|";
  margin-inline: 1rem;
  color: var(--dark-color-15);
}
.footer__extra-menu-link {
  white-space: nowrap;
}/*# sourceMappingURL=main.css.map */